# Suggest: python==3.6.5

# Following to install
# $ sudo pip2.7 install --upgrade pip
# $ sudo pip2.7 install --upgrade -r requirements.txt

msgpack==0.5.6 # anaconda miss it

### Core
jupyter==1.0.0
numpy==1.14.3
pandas==0.22.0
matplotlib==2.2.2
scipy==1.1.0

### ML
scikit-learn==0.19.1

tensorflow==1.9.0
# tensorflow-gpu==1.9.0 # if you want GPU support

# Forcing bleach to 1.5 to avoid version incompatibility when installing TensorBoard
bleach==1.5.0 
Keras==2.1.6 

### Image Manipulation
imageio==2.3.0
Pillow==5.1.0
scikit-image==0.13.1

